<mat-card>
  <form [formGroup]="form">
    <mat-form-field>
      <input matInput type="text" formControlName="title" placeholder="Category title">
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" formControlName="parentId" placeholder="Category Parent Id">
    </mat-form-field>
    <mat-form-field>
      <textarea matInput rows="4" formControlName="Path" placeholder="Category Path"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="saveCategory()">edite</button>
    <button mat-raised-button color="warn" (click)="closeDialog()">close</button>

  </form>
</mat-card>